.App-header {
    background-color: #282c34;
    font-size: 2em;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 1em;
}
