.location {
  display: block;
  padding: 5px 2px;
}

.locationBar {
  background-color: black;
  width: 100px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
}

.locationBar span {
  position: absolute;
  background-color: yellow;
  height: 100%;
}
